{% extends "base.html" %}
{% load static %}

{% block content %}
  <section class="section bg-dark-1">
    <img src="{% static 'img/others/lamp-holder.png' %}"
         class="img-fluid lamp-style-2 position-absolute transform-center-x appear-animation"
         data-appear-animation="fadeIn" alt=""/>
    <div class="container">
      <div class="row justify-content-center text-center py-5 mt-5 mb-3">
        <div class="col-md-8 col-lg-6 pt-4 mt-5">
          <h1 class="font-weight-bold text-6 mb-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
            <strong class="d-block font-weight-bold text-20">500!</strong>
            Erro interno inesperado
          </h1>
          <p style="color: #ccc;" class="btn-lg mb-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
            Desculpe. Ocorreu um erro inesperado. Nossa equipe já foi notificada do problema.
          </p>
          <a href="{% url 'home' %}" class="btn btn-primary btn-rounded btn-v-3 btn-h-3 font-weight-bold appear-animation"
             data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
              <i class="fas fa-angle-left mr-3 text-3"></i> VOLTAR A HOME
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}