{% load static %}
<!DOCTYPE html>
<html lang="pt-br" class="dark">
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Mulher Gorila - Agência de Soluções Digitais</title>

    <meta name="keywords" content="Agência Digital, Desenvolvimento Web, Desenvolvimento de Sistemas"/>
    <meta name="description" content="Mulher Gorila - Agência Digital">
    <meta name="author" content="mulhergorila.com">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,900%7COpen+Sans:300,400,600,700,800" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "vendor/font-awesome/css/fontawesome-all.min.css" %}">
    <link rel="stylesheet" href="{% static "vendor/animate/animate.min.css" %}">
    <link rel="stylesheet" href="{% static "vendor/linear-icons/css/linear-icons.min.css" %}">
    <link rel="stylesheet" href="{% static "vendor/owl.carousel/assets/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "vendor/owl.carousel/assets/owl.theme.default.min.css" %}">
    <link rel="stylesheet" href="{% static "vendor/magnific-popup/magnific-popup.min.css" %}">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static "css/theme.css" %}">
    <link rel="stylesheet" href="{% static "css/theme-elements.css" %}">

    <!-- Current Page CSS -->
    <link rel="stylesheet" href="{% static "vendor/rs-plugin/css/settings.css" %}">
    <link rel="stylesheet" href="{% static "vendor/rs-plugin/css/layers.css" %}">
    <link rel="stylesheet" href="{% static "vendor/rs-plugin/css/navigation.css" %}">

    <!-- Skin CSS -->
    <link rel="stylesheet" href="{% static "css/skins/skin-mulhergorila.css" %}">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{% static "css/custom.css" %}">

    <!-- Head Libs -->
    <script src="{% static "vendor/modernizr/modernizr.min.js" %}"></script>

</head>
<body>
<div class="body">

    {% include "navbar.html" %}

    <div role="main" class="main">
    {% block content %}
    {% endblock %}
    </div>

    {% include "footer.html" %}
</div>

<!-- Vendor -->
<script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
<script src="{% static "vendor/jquery.appear/jquery.appear.min.js" %}"></script>
<script src="{% static "vendor/jquery.easing/jquery.easing.min.js" %}"></script>
<script src="{% static "vendor/jquery-cookie/jquery-cookie.min.js" %}"></script>
<script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "vendor/common/common.min.js" %}"></script>
<script src="{% static "vendor/jquery.validation/jquery.validation.min.js" %}"></script>
<script src="{% static "vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js" %}"></script>
<script src="{% static "vendor/jquery.gmap/jquery.gmap.min.js" %}"></script>
<script src="{% static "vendor/jquery.lazyload/jquery.lazyload.min.js" %}"></script>
<script src="{% static "vendor/isotope/jquery.isotope.min.js" %}"></script>
<script src="{% static "vendor/owl.carousel/owl.carousel.min.js" %}"></script>
<script src="{% static "vendor/magnific-popup/jquery.magnific-popup.min.js" %}"></script>
<script src="{% static "vendor/vide/vide.min.js" %}"></script>
<script src="{% static "vendor/vivus/vivus.min.js" %}"></script>

<!-- Theme Base, Components and Settings -->
<script src="{% static "js/theme.js" %}"></script>

<!-- Current Page Vendor and Views -->
<script src="{% static "vendor/rs-plugin/js/jquery.themepunch.tools.min.js" %}"></script>
<script src="{% static "vendor/rs-plugin/js/jquery.themepunch.revolution.min.js" %}"></script>

<!-- Theme Custom -->
<script src="{% static "js/custom.js" %}"></script>

<!-- Theme Initialization Files -->
<script src="{% static "js/theme.init.js" %}"></script>

<!-- Examples -->
<script src="{% static "js/examples/examples.portfolio.js" %}"></script>
<script src="{% static "js/examples/examples.lightboxes.js" %}"></script>

<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-12345678-1', 'auto');
    ga('send', 'pageview');
</script>
 -->

</body>
</html>