{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="slider-container slider-container-height-720 rev_slider_wrapper">
        <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.7" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': [1140,960,720,540], 'gridheight': [550,550,550,550], 'responsiveLevels': [4096,1200,992,576], 'parallax': { 'type': 'mouse', 'origo': 'slidercenter', 'speed': 2000, 'levels': [2,3,4,5,6,7,12,16,10,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': false, 'hide_under': 767, 'style': 'slider-arrows-style-1' }, 'bullets': {'enable': false, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 25, 'h_offset': 0}}}">
            <ul>
                <li class="slide-overlay slide-overlay-level-8" data-transition="fade">
                    <img src="{% static "img/backgrounds/mulhergorila-bg.webp" %}"
                         alt=""
                         data-bgposition="center center"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat"
                         data-kenburns="on"
                         data-duration="20000"
                         data-ease="Linear.easeNone"
                         data-scalestart="110"
                         data-scaleend="100"
                         data-offsetstart="250 100"
                         class="rev-slidebg">

                    <h1 class="tp-caption text-color-light font-primary font-weight-bold"
                        data-x="center"
                        data-y="center" data-voffset="['-55','-55','-55','0']"
                        data-start="1000"
                        data-fontsize="['65','65','65','34']"
                        data-transform_in="y:[-50%];opacity:0;s:500;"
                        data-transform_out="y:[-50%];opacity:0;s:500;">Somos uma Agência Criativa</h1>

                    <div class="tp-caption text-color-light font-primary font-weight-light"
                         data-x="center"
                         data-y="center" data-voffset="['10','10','10','70']"
                         data-start="1300"
                         data-fontsize="['37','37','37','22']"
                         data-transform_in="y:[-50%];opacity:0;s:500;"
                         data-transform_out="y:[-50%];opacity:0;s:500;">Desenvolvimento Web e Marketing Digital
                    </div>

                    <a class="tp-caption layer-border-width-1 popup-vimeo btn btn-light btn-outline rounded-circle d-flex align-items-center justify-content-center"
                       href="https://vimeo.com/45830194"
                       data-x="center"
                       data-y="center" data-voffset="['150','150','150','200']"
                       data-width="90"
                       data-height="90"
                       data-start="1900"
                       data-fontsize="['22','22','22','22']"
                       data-transform_in="opacity:0;s:500;"
                       data-transform_out="opacity:0;s:500;"><i class="fas fa-play"></i></a>

                </li>
            </ul>
        </div>
    </div>
    <section id="start" class="section bg-dark">
        <div class="container">
            <div class="row align-items-baseline mt-3">
                <div class="col-lg-4">
                    <div class="icon-box appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="300">
                        <div class="icon-box-icon pr-3">
                            <h3 class="font-weight-bold d-flex align-items-center text-color-light text-2 pl-1 mb-3">
                                <i class="lnr lnr-code text-color-primary mr-3"></i>
                            </h3>
                        </div>
                        <div class="icon-box-info">
                            <span class="top-sub-title">NÓS DESENVOLVEMOS</span>
                            <h2 class="text-color-light font-weight-bold text-4 mb-3">Sistemas Integrados</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa
                                enim. Nullam id varius.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon-box appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
                        <div class="icon-box-icon pr-3">
                            <h3 class="font-weight-bold d-flex align-items-center text-color-light text-2 pl-1 mb-3">
                                <i class="lnr lnr-tablet text-color-primary mr-3"></i>
                            </h3>
                        </div>
                        <div class="icon-box-info">
                            <span class="top-sub-title">NÓS CRIAMOS</span>
                            <h2 class="text-color-light font-weight-bold text-4 mb-3">Sites Responsivos</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa
                                enim. Nullam id varius.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="icon-box appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="300">
                        <div class="icon-box-icon pr-3">
                            <h3 class="font-weight-bold d-flex align-items-center text-color-light text-2 pl-1 mb-3">
                                <i class="lnr lnr-magic-wand text-color-primary mr-3"></i>
                            </h3>
                        </div>
                        <div class="icon-box-info">
                            <span class="top-sub-title">NÓS FAZEMOS</span>
                            <h2 class="text-color-light font-weight-bold text-4 mb-3">Marketing Online</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa
                                enim. Nullam id varius.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-dark-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="100">
                        <span class="top-sub-title text-color-primary">UMA AGÊNCIA COMPLETA</span>

                        <h2 class="word-rotator letters type font-weight-bold text-color-light text-5 mb-3">
                            <span class="word-rotator-words waiting">
                                <b class="is-visible">Desenvolvimento de Sistemas.</b>
                                <b>Sites Responsivos.</b>
                                <b>Marketing Digital.</b>
                                <b>Mídias Sociais.</b>
                            </span>
                        </h2>
                    </div>
                    <p class="lead mb-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">
                        Projetos especiais em TI e design digital.
                    </p>

                    <p class="mb-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
                        A Mulher Gorila é lugar de gente inovadora que possui em sua equipe indivíduos criativos,
                        versados em tecnologia, que trazem novas ideias todos os dias. Nossa tarefa é aplicar inovações
                        digitais cedo o suficiente, com frequência suficiente e em escala suficiente para mudar
                        percepções e comportamento do cliente.
                    </p>

                    <div class="d-block d-sm-inline-block text-center appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1000">
                        <a href="{% url 'quem-somos' %}" class="btn btn-outline btn-rounded btn-primary btn-v-3 btn-h-4 font-weight-bold">
                            SAIBA MAIS
                        </a>
                        <span class="d-block mt-3">ou<a class="text-underline ml-2" href="#">FALE CONOSCO</a></span>
                    </div>
                </div>
                <div class="col-10 col-md-5 mx-auto ml-md-auto appear-animation" data-appear-animation="fadeIn">
                    <div class="particles d-flex align-items-center pr-0 pr-lg-3 pr-xl-5">
                        <svg class="svg-particles d-none d-sm-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 493.72 405.79">
                            <g class="g-particles g-particles-group-1 appear-animation" data-appear-animation="expandParticles" data-appear-animation-delay="500">
                                <line class="cls-1" fill="none" stroke="#565656" stroke-miterlimit="10" x1="150.28" y1="108.35" x2="159.03" y2="102.1"/>
                                <line class="cls-1" fill="none" stroke="#565656" stroke-miterlimit="10" x1="325.51" y1="118.98" x2="334.26" y2="112.73"/>
                                <line class="cls-1" fill="none" stroke="#565656" stroke-miterlimit="10" x1="483.33" y1="94.52" x2="492.08" y2="88.27"/>
                                <line class="cls-1" fill="none" stroke="#565656" stroke-miterlimit="10" x1="321.14" y1="279.22" x2="329.89" y2="272.97"/>
                                <line class="cls-1" fill="none" stroke="#565656" stroke-miterlimit="10" x1="148.47" y1="279.22" x2="157.22" y2="272.97"/>
                                <line class="cls-1" fill="none" stroke="#565656" stroke-miterlimit="10" x1="11.14" y1="305.17" x2="19.89" y2="298.92"/>
                            </g>
                            <g class="g-particles g-particles-group-2 appear-animation" data-appear-animation="expandParticles" data-appear-animation-delay="800">
                                <path class="cls-1" fill="none" stroke="#565656" stroke-miterlimit="10" d="M51.78,105.64s-.37-12.75,5.25-3.5.38,7.13,0,7.13" transform="translate(-3.14 -1.85)"/>
                                <path class="cls-1" fill="none" stroke="#565656" stroke-miterlimit="10" d="M229.34,103.24s-.37-12.75,5.25-3.5.38,7.12,0,7.12" transform="translate(-3.14 -1.85)"/>
                                <path class="cls-1" fill="none" stroke="#565656" stroke-miterlimit="10" d="M401,103.24s-.37-12.75,5.25-3.5.38,7.12,0,7.12" transform="translate(-3.14 -1.85)"/>
                                <path class="cls-1" fill="none" stroke="#565656" stroke-miterlimit="10" d="M401,274.1s-.37-12.75,5.25-3.5.38,7.13,0,7.13" transform="translate(-3.14 -1.85)"/>
                                <path class="cls-1" fill="none" stroke="#565656" stroke-miterlimit="10" d="M227.33,276.14s-.37-12.75,5.25-3.5.38,7.13,0,7.13" transform="translate(-3.14 -1.85)"/>
                                <path class="cls-1" fill="none" stroke="#565656" stroke-miterlimit="10" d="M55.49,276.14s-.37-12.75,5.25-3.5.38,7.13,0,7.13" transform="translate(-3.14 -1.85)"/>
                                <path class="cls-1" fill="none" stroke="#565656" stroke-miterlimit="10" d="M97.76,41.59s-2.5,4.83,2.83,2.33.67,2.67.67,2.67" transform="translate(-3.14 -1.85)"/>
                                <path class="cls-1" fill="none" stroke="#565656" stroke-miterlimit="10" d="M448.14,22.85s-2.5,4.83,2.83,2.33.67,2.67.67,2.67" transform="translate(-3.14 -1.85)"/>
                                <path class="cls-1" fill="none" stroke="#565656" stroke-miterlimit="10" d="M246,44.18s.1,5.85,4.41-.28,2.26,1.66,2.26,1.66" transform="translate(-3.14 -1.85)"/>
                            </g>
                            <g class="g-particles g-particles-group-3 appear-animation" data-appear-animation="expandParticles" data-appear-animation-delay="1100">
                                <circle class="cls-2" fill="#565656" stroke="#565656" cx="4.77" cy="151" r="1.14" transform="translate(-108.51 45.76) rotate(-45)"/>
                                <circle class="cls-2" fill="#565656" stroke="#565656" cx="149.72" cy="30.16" r="1.14" transform="translate(19.39 112.85) rotate(-45)"/>
                                <circle class="cls-2" fill="#565656" stroke="#565656" cx="304.7" cy="3.48" r="1.14" transform="translate(83.64 214.63) rotate(-45)"/>
                                <circle class="cls-2" fill="#565656" stroke="#565656" cx="495.22" cy="155.04" r="1.14" transform="translate(32.28 393.74) rotate(-45)"/>
                                <circle class="cls-2" fill="#565656" stroke="#565656" cx="315.2" cy="163.8" r="1.14" transform="translate(-26.64 269.01) rotate(-45)"/>
                                <circle class="cls-2" fill="#565656" stroke="#565656" cx="153.42" cy="344.7" r="1.14" transform="translate(-201.94 207.59) rotate(-45)"/>
                                <circle class="cls-2" fill="#565656" stroke="#565656" cx="249.61" cy="406" r="1.14" transform="translate(-217.11 293.57) rotate(-45)"/>
                                <circle class="cls-2" fill="#565656" stroke="#565656" cx="313.32" cy="336.94" r="1.14" transform="translate(-149.62 318.39) rotate(-45)"/>
                                <circle class="cls-2" fill="#565656" stroke="#565656" cx="148.58" cy="172.2" r="1.14" transform="translate(-81.38 153.65) rotate(-45)"/>
                            </g>
                            <g class="g-particles g-particles-group-4 appear-animation" data-appear-animation="expandParticles" data-appear-animation-delay="1400">
                                <polyline class="cls-3" fill="none" stroke="#565656" points="200.87 18.34 197.2 18.34 199.03 21"/>
                                <polyline class="cls-3" fill="none" stroke="#565656" points="179.66 368.64 180.47 364.7 176.12 365.86"/>
                                <polyline class="cls-3" fill="none" stroke="#565656" points="369.87 368.64 370.67 364.7 366.31 365.86"/>
                                <polyline class="cls-3" fill="none" stroke="#565656" points="369.31 5.73 371.83 1.9 367.27 1.65"/>
                                <polyline class="cls-3" fill="none" stroke="#565656" points="217.7 153.19 210.32 153.19 214.01 158.56"/>
                                <polyline class="cls-3" fill="none" stroke="#565656" points="385.03 153.19 377.66 153.19 381.34 158.56"/>
                                <polyline class="cls-3" fill="none" stroke="#565656" points="385.03 324.15 377.66 324.15 381.34 329.52"/>
                                <polyline class="cls-3" fill="none" stroke="#565656" points="213.01 324.15 205.64 324.15 209.32 329.52"/>
                                <polyline class="cls-3" fill="none" stroke="#565656" points="52.35 324.15 44.98 324.15 48.66 329.52"/>
                            </g>
                            <g class="g-particles g-particles-group-5 appear-animation" data-appear-animation="expandParticles" data-appear-animation-delay="1700">
                                <path class="cls-4" fill="none" stroke="#565656" d="M264.48,188.12s-4,8.83,3.33,6.17,5.67-.5,5.67-.5-1.33,3.67-2.17,3.5" transform="translate(-3.14 -1.85)"/>
                                <path class="cls-4" fill="none" stroke="#565656" d="M444.52,179.07s-4,8.83,3.33,6.17,5.67-.5,5.67-.5-1.33,3.67-2.17,3.5" transform="translate(-3.14 -1.85)"/>
                                <path class="cls-4" fill="none" stroke="#565656" d="M94.23,196.91s-4,8.83,3.33,6.17,5.67-.5,5.67-.5-1.33,3.67-2.17,3.5" transform="translate(-3.14 -1.85)"/>
                                <path class="cls-4" fill="none" stroke="#565656" d="M92.81,369.86s-2.63,6.55,2.19,4.57,3.73-.37,3.73-.37-.88,2.72-1.43,2.6" transform="translate(-3.14 -1.85)"/>
                                <path class="cls-4" fill="none" stroke="#565656" d="M269.94,368.71c.06-.09,3.2,5.44,4.68,2,2-4.8,2.54-2.76,2.54-2.76s1.15,2.61.66,2.89" transform="translate(-3.14 -1.85)"/>
                            </g>
                            <g class="g-particles g-particles-group-6 appear-animation" data-appear-animation="expandParticles" data-appear-animation-delay="2000">
                                <polyline class="cls-5" fill="#565656" stroke="#565656" points="8.58 76.55 13.71 78.42 12.58 72.8"/>
                                <polyline class="cls-5" fill="#565656" stroke="#565656" points="8.58 228.65 13.71 230.53 12.58 224.9"/>
                                <polyline class="cls-5" fill="#565656" stroke="#565656" points="178.55 238.99 183.68 240.86 182.55 235.24"/>
                                <polyline class="cls-5" fill="#565656" stroke="#565656" points="349.47 240.53 354.59 242.4 353.47 236.78"/>
                                <polyline class="cls-5" fill="#565656" stroke="#565656" points="338.72 402.28 343.84 404.15 342.72 398.53"/>
                                <polyline class="cls-5" fill="#565656" stroke="#565656" points="147.72 399.46 152.84 401.34 151.72 395.71"/>
                                <polyline class="cls-5" fill="#565656" stroke="#565656" points="482.39 209.27 485.95 213.4 487.71 207.94"/>
                                <polyline class="cls-5" fill="#565656" stroke="#565656" points="349.58 66.58 354.83 68.06 353.29 62.54"/>
                            </g>
                        </svg>
                        <div class="particles-rect bg-primary d-none d-md-block" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 4, 'transition': true}"></div>
                        <img src="{% static "img/mulhergorila.png" %}" class="img-fluid" alt="" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 4, 'horizontal': true, 'transition': true}"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-dark section-text-overlay">
        <span class="text-background font-primary font-weight-bold appear-animation" data-appear-animation="textBgFadeInUpDark" data-appear-animation-delay="500">EASY AS 123</span>
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <span class="top-sub-title text-color-primary">Como Funciona Nosso</span>
                    <h2 class="text-color-light font-weight-bold">Processo de Trabalho</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="steps steps-primary" data-plugin-options="{'delay': 7000}">
                        <div class="dots appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="1200">
                            <img class="dots-mask" src="{% static "img/svg/steps-dots-bg-dark.svg" %}" alt=""/>
                            <div class="dots-color"></div>
                            <div class="dots-color-dark"></div>
                        </div>
                        <div class="item appear-animation" data-appear-animation="stepsFadeInUp" data-plugin-image-background data-plugin-options="{'imageUrl': '{% static "img/steps-1.jpg" %}'}">
                            <h3 class="item-title"><span>1</span>ESTRATÉGIA</h3>
                            <p>
                                Nesta etapa, analisamos a melhor estratégia para o seu negócio ou necessidade.
                            </p>
                            <a class="learn-more" href="#">Saiba Mais <i class="fas fa-angle-right"></i></a>
                        </div>
                        <div class="item appear-animation" data-appear-animation="stepsFadeInUp" data-appear-animation-delay="300" data-plugin-image-background data-plugin-options="{'imageUrl': '{% static "img/steps-2.jpg" %}'}">
                            <h3 class="item-title"><span>2</span>PLANEJAMENTO</h3>
                            <p>
                                Com a estratégia definida, vamos ao planejamento do projeto.
                            </p>
                            <a class="learn-more" href="#">Saiba Mais <i class="fas fa-angle-right"></i></a>
                        </div>
                        <div class="item appear-animation" data-appear-animation="stepsFadeInUp" data-appear-animation-delay="600" data-plugin-image-background data-plugin-options="{'imageUrl': '{% static "img/steps-3.jpg" %}'}">
                            <h3 class="item-title"><span>3</span>PRODUÇÃO</h3>
                            <p>
                                Hora de colocar toda a estratágia e planejamento em produção.
                            </p>
                            <a class="learn-more" href="#">Saiba Mais <i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-dark-3">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-duration="700ms">
                        <span class="top-sub-title text-color-primary">CONHEÇA ALGUNS TRABALHOS</span>
                        <h2 class="text-color-light font-weight-bold">Portfolio</h2>
                    </div>
                    <p class="lead appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                        Conheça alguns cases de sucesso e projetos desenvolvidos pela Mulher Gorila
                    </p>
                </div>
            </div>
            <div class="row align-items-center mb-4">
                <div class="col-md-8 col-lg-9 appear-animation" data-appear-animation="fadeInLeftShorter">
                    <ul id="portfolioLoadMoreFilter" class="nav sort-source justify-content-center justify-content-md-start mb-4 mb-md-0" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}">
                        <li class="nav-item" data-option-value="*">
                            <a class="nav-link active" href="#">VER TUDO</a>
                        </li>

                        <li class="nav-item" data-option-value=".brands">
                            <a class="nav-link text-uppercase" href="#">brands</a>
                        </li>

                        <li class="nav-item" data-option-value=".design">
                            <a class="nav-link text-uppercase" href="#">design</a>
                        </li>

                        <li class="nav-item" data-option-value=".web">
                            <a class="nav-link text-uppercase" href="#">web</a>
                        </li>

                        <li class="nav-item" data-option-value=".ads">
                            <a class="nav-link text-uppercase" href="#">ads</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-lg-3 d-flex justify-content-center justify-content-md-end appear-animation" data-appear-animation="fadeInRightShorter">
                    <a href="{% url 'portfolio' %}" class="btn btn-outline btn-rounded btn-4 btn-primary font-weight-bold">
                        VER MAIS PROJETOS
                    </a>
                </div>
            </div>
            <div class="row ml-1 ml-sm-2 mr-1 mr-md-0">
                <div class="col-12 p-0">
                    <div class="sort-destination-loader sort-destination-loader-showing mb-4">
                        <div id="portfolioLoadMoreWrapper" class="portfolio-list sort-destination" data-sort-id="portfolio" data-ajax-url="#" data-total-pages="3">
                            {% for project in projects_home %}
                                <div class="col-md-6 col-lg-4 p-0 isotope-item mb-3 {{ project.category.name.lower }}">
                                    <div class="portfolio-item hover-effect-3d text-center appear-animation" data-appear-animation="fadeInUpShorter" data-plugin-options="{'accY' : -50}">
                                        <a href="{% url 'portfolio_detail' slug=project.slug %}">
                                        <span class="image-frame image-frame-style-1 image-frame-effect-1 mb-3">
                                            <span class="image-frame-wrapper">
{#                                                <img src="{% static "img/projects/generic/project-1.jpg" %}" class="img-fluid" alt="">#}
                                                <img src="{{ project.image.url }}" class="img-fluid" alt="{{ project.title }}">
                                                <span class="image-frame-inner-border"></span>
                                                <span class="image-frame-action">
                                                    <span class="image-frame-action-icon">
                                                        <i class="lnr lnr-link text-color-light"></i>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <div class="parallax section section-height-3 section-text-light overlay overlay-color-dark overlay-show overlay-op-8" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="{% static "img/backgrounds/mulhergorila-bg2.webp" %}">
        <div class="container">
            <div class="counters counters-light">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="counter">
                            <strong data-to="100" data-append="+">0</strong>
                            <label>Clientes Satisfeitos</label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="counter">
                            <strong data-to="300" data-append="+">0</strong>
                            <label>Projetos Concluídos</label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="counter">
                            <strong data-to="200" data-append="+">0</strong>
                            <label>Sites Entregues</label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="counter">
                            <strong data-to="15000" data-append="+">0</strong>
                            <label>Horas de Desenvolvimento</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section bg-dark">
        <div class="container-fluid">
            <div class="row">
                <div class="col-9 col-md-12 mx-auto double-carousel double-carousel-style-1" data-plugin-double-carousel data-plugin-options="{'responsive': { '0': {'items': 1}, '479': {'items': 1}, '768': {'items': 1, 'dotsEach': 3}, '979': {'items': 2}, '1199': {'items': 3}}}">
                    <div class="nav">
                        <div class="title-left">
                            <span class="text-color-light">DEPOIMENTOS <span>&</span></span>
                        </div>
                        <div class="title-right">
                            <span class="text-color-light">PARCEIROS</span>
                        </div>
                        <div class="arrows">
                            <div class="arrow-left">
                                <i class="fas fa-angle-left"></i>
                            </div>
                            <div class="arrow-right">
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper-left appear-animation" data-appear-animation="doubleCarouselFadeInRight">
                        <div class="owl-carousel owl">
                            <div>
                                <div class="testimonial testimonial-style-3">
                                    <div class="card rounded border-0">
                                        <div class="card-body p-4">
                                            <div class="mb-1 text-primary">
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                            </div>
                                            <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Etiam magna purus.</p>
                                            <strong class="text-color-light">John Doe</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="testimonial testimonial-style-3">
                                    <div class="card rounded border-0">
                                        <div class="card-body p-4">
                                            <div class="mb-1 text-primary">
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                            </div>
                                            <p class="mb-1">Lorem ipsum dolor sit amet, consectetur. Lorem ipsum
                                                dolor sit amet, consectetur adipiscing elit.</p>
                                            <strong class="text-color-light">Bob Doe</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="testimonial testimonial-style-3">
                                    <div class="card rounded border-0">
                                        <div class="card-body p-4">
                                            <div class="mb-1 text-primary">
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                            </div>
                                            <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Etiam magna purus.</p>
                                            <strong class="text-color-light">Monica Doe</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="testimonial testimonial-style-3">
                                    <div class="card rounded border-0">
                                        <div class="card-body p-4">
                                            <div class="mb-1 text-primary">
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                            </div>
                                            <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit.</p>
                                            <strong class="text-color-light">Greg Doe</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="testimonial testimonial-style-3">
                                    <div class="card rounded border-0">
                                        <div class="card-body p-4">
                                            <div class="mb-1 text-primary">
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                            </div>
                                            <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Etiam magna purus.</p>
                                            <strong class="text-color-light">Robert Doe</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="testimonial testimonial-style-3">
                                    <div class="card rounded border-0">
                                        <div class="card-body p-4">
                                            <div class="mb-1 text-primary">
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                            </div>
                                            <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing
                                                elit.</p>
                                            <strong class="text-color-light">Greg Doe</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="testimonial testimonial-style-3">
                                    <div class="card rounded border-0">
                                        <div class="card-body p-4">
                                            <div class="mb-1 text-primary">
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                            </div>
                                            <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Etiam magna purus.</p>
                                            <strong class="text-color-light">Robert Doe</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper-right appear-animation" data-appear-animation="doubleCarouselFadeInLeft">
                        <div class="owl-carousel owl">
                            <div>
                                <div class="card card-logo rounded border-0">
                                    <div class="card-body p-0">
                                        <img src="{% static "img/logos/logo-10-light.png" %}" class="img-fluid" alt=""/>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="card card-logo rounded border-0">
                                    <div class="card-body p-0">
                                        <img src="{% static "img/logos/logo-11-light.png" %}" class="img-fluid" alt=""/>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="card card-logo rounded border-0">
                                    <div class="card-body p-0">
                                        <img src="{% static "img/logos/logo-24-light.png" %}" class="img-fluid" alt=""/>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="card card-logo rounded border-0">
                                    <div class="card-body p-0">
                                        <img src="{% static "img/logos/logo-7-light.png" %}" class="img-fluid" alt=""/>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="card card-logo rounded border-0">
                                    <div class="card-body p-0">
                                        <img src="{% static "img/logos/logo-8-light.png" %}" class="img-fluid" alt=""/>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="card card-logo rounded border-0">
                                    <div class="card-body p-0">
                                        <img src="{% static "img/logos/logo-10-light.png" %}" class="img-fluid" alt=""/>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="card card-logo rounded border-0">
                                    <div class="card-body p-0">
                                        <img src="{% static "img/logos/logo-11-light.png" %}" class="img-fluid" alt=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section section-content-pull-top-2 bg-dark-3">
        <div class="container appear-animation" data-appear-animation="fadeInUpShorter">
            <div class="row">
                <div class="col">
                    <div class="row text-center">
                        <div class="col">
                            <span class="top-sub-title text-color-primary">PORQUE ESCOLHER A MULHER GORILA</span>
                            <h2 class="text-color-light font-weight-bold">Focada e criativa</h2>
                            <p class="lead mb-5 pb-xlg">
                                A equipe da Mulher Gorila está preparada para qualquer desafio.
                            </p>
                        </div>
                    </div>
                    <div class="row align-items-baseline">
                        <div class="col-md-6 col-lg-4 appear-animation" data-appear-animation="fadeInUpShorter" data-plugin-options="{'accY' : -50}">
                            <h3 class="font-weight-bold d-flex align-items-center text-color-light text-2 pl-1 mb-3">
                                <i class="lnr lnr-tablet text-color-primary mr-3"></i>
                                RESPONSIVE DESIGN
                            </h3>
                            <p class="mb-md-5 pb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Phasellus blandit massa enim. Nullam id varius nunc.</p>
                        </div>
                        <div class="col-md-6 col-lg-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300" data-plugin-options="{'accY' : -50}">
                            <h3 class="font-weight-bold d-flex align-items-center text-color-light text-2 pl-1 mb-3">
                                <i class="lnr lnr-layers text-color-primary mr-3"></i>
                                PARALLAX EFFECTS
                            </h3>
                            <p class="mb-md-5 pb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Phasellus blandit massa enim. Nullam id varius nunc.</p>
                        </div>
                        <div class="col-md-6 col-lg-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" data-plugin-options="{'accY' : -50}">
                            <h3 class="font-weight-bold d-flex align-items-center text-color-light text-2 pl-1 mb-3">
                                <i class="lnr lnr-magnifier text-color-primary mr-3"></i>
                                SEO OPTIMIZED
                            </h3>
                            <p class="mb-md-5 pb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Phasellus blandit massa enim. Nullam id varius nunc.</p>
                        </div>
                        <div class="col-md-6 col-lg-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-plugin-options="{'accY' : -50}">
                            <h3 class="font-weight-bold d-flex align-items-center text-color-light text-2 pl-1 mb-3">
                                <i class="lnr lnr-magic-wand text-color-primary mr-3"></i>
                                FULLY CUSTOMIZABLE
                            </h3>
                            <p class="mb-md-5 pb-3">Phasellus blandit massa enim. Nullam id varius nunc. Lorem ipsum
                                dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id
                                varius nunc.</p>
                        </div>
                        <div class="col-md-6 col-lg-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1200" data-plugin-options="{'accY' : -50}">
                            <h3 class="font-weight-bold d-flex align-items-center text-color-light text-2 pl-1 mb-3">
                                <i class="lnr lnr-briefcase text-color-primary position-relative mr-3"></i>
                                PORTFOLIO LAYOUTS
                            </h3>
                            <p class="mb-md-5 pb-3">Phasellus blandit massa enim. Nullam id varius nunc. Lorem ipsum
                                dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id
                                varius nunc.</p>
                        </div>
                        <div class="col-md-6 col-lg-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1500" data-plugin-options="{'accY' : -50}">
                            <h3 class="font-weight-bold d-flex align-items-center text-color-light text-2 pl-1 mb-3">
                                <i class="lnr lnr-code text-color-primary mr-3"></i>
                                OPTIMIZED CODE
                            </h3>
                            <p class="mb-md-5 pb-3">Phasellus blandit massa enim. Nullam id varius nunc. Lorem ipsum
                                dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id
                                varius nunc.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section call-to-action bg-dark-2 call-to-action-text-light call-to-action-text-background">
        <span class="text-background text-color-light font-primary font-weight-bold appear-animation" data-appear-animation="textBgFadeInUp" data-appear-animation-delay="800">IT'S EASY</span>
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-lg-9">
                    <div class="call-to-action-content text-center text-md-left appear-animation" data-appear-animation="fadeInLeftShorter">
                        <h2 class="font-weight-semibold">Discover EZY. It's easier than you think.</h2>
                        <p class="font-weight-light mb-0">Start right now to create an amazing website.</p>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3">
                    <div class="call-to-action-btn appear-animation" data-appear-animation="fadeInRightShorter">
                        <a href="https://themeforest.net/item/ezy-responsive-multipurpose-html5-template/21814871" target="_blank" class="btn btn-light btn-outline btn-rounded font-weight-semibold btn-h-3 btn-v-3">BUY
                            EZY NOW <strong class="font-weight-semibold">$16</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}