{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="page-header mb-0 page-header-dark page-header-text-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 text-md-left">
                    <h1 class="font-weight-bold">Quem Somos</h1>
                </div>
                <div class="col-md-6">
                    <ul class="breadcrumb justify-content-md-end">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li class="active">Empresa</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-height-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="100">
                        <span class="top-sub-title text-color-primary">AGÊNCIA DIGITAL</span>

                        <h2 class="font-weight-bold text-6 mb-3">Mulher Gorila</h2>
                    </div>
                    <p class="lead mb-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
                        Projetos especiais em TI e design digital.
                    </p>

                    <p class="text-color-light-3 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">
                        A Mulher Gorila é lugar de gente inovadora que possui em sua equipe indivíduos criativos,
                        versados em tecnologia, que trazem novas ideias todos os dias. Nossa tarefa é aplicar inovações
                        digitais cedo o suficiente, com frequência suficiente e em escala suficiente para mudar
                        percepções e comportamento do cliente.
                    </p>

                    <a href="#" class="btn btn-outline btn-rounded btn-primary btn-v-3 btn-h-4 font-weight-bold text-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">
                        CONTATO
                    </a>
                </div>
                <div class="col-10 col-md-6 col-lg-5 mx-auto ml-md-auto appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                    <div class="particles d-flex align-items-center pr-0 pr-lg-3 pr-xl-5">
                        <svg class="svg-particles d-none d-sm-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 493.72 405.79">
                            <g class="g-particles g-particles-group-1 appear-animation" data-appear-animation="expandParticles" data-appear-animation-delay="500">
                                <line class="cls-1" fill="none" stroke="#969da0" stroke-miterlimit="10" x1="150.28" y1="108.35" x2="159.03" y2="102.1"/>
                                <line class="cls-1" fill="none" stroke="#969da0" stroke-miterlimit="10" x1="325.51" y1="118.98" x2="334.26" y2="112.73"/>
                                <line class="cls-1" fill="none" stroke="#969da0" stroke-miterlimit="10" x1="483.33" y1="94.52" x2="492.08" y2="88.27"/>
                                <line class="cls-1" fill="none" stroke="#969da0" stroke-miterlimit="10" x1="321.14" y1="279.22" x2="329.89" y2="272.97"/>
                                <line class="cls-1" fill="none" stroke="#969da0" stroke-miterlimit="10" x1="148.47" y1="279.22" x2="157.22" y2="272.97"/>
                                <line class="cls-1" fill="none" stroke="#969da0" stroke-miterlimit="10" x1="11.14" y1="305.17" x2="19.89" y2="298.92"/>
                            </g>
                            <g class="g-particles g-particles-group-2 appear-animation" data-appear-animation="expandParticles" data-appear-animation-delay="800">
                                <path class="cls-1" fill="none" stroke="#969da0" stroke-miterlimit="10" d="M51.78,105.64s-.37-12.75,5.25-3.5.38,7.13,0,7.13" transform="translate(-3.14 -1.85)"/>
                                <path class="cls-1" fill="none" stroke="#969da0" stroke-miterlimit="10" d="M229.34,103.24s-.37-12.75,5.25-3.5.38,7.12,0,7.12" transform="translate(-3.14 -1.85)"/>
                                <path class="cls-1" fill="none" stroke="#969da0" stroke-miterlimit="10" d="M401,103.24s-.37-12.75,5.25-3.5.38,7.12,0,7.12" transform="translate(-3.14 -1.85)"/>
                                <path class="cls-1" fill="none" stroke="#969da0" stroke-miterlimit="10" d="M401,274.1s-.37-12.75,5.25-3.5.38,7.13,0,7.13" transform="translate(-3.14 -1.85)"/>
                                <path class="cls-1" fill="none" stroke="#969da0" stroke-miterlimit="10" d="M227.33,276.14s-.37-12.75,5.25-3.5.38,7.13,0,7.13" transform="translate(-3.14 -1.85)"/>
                                <path class="cls-1" fill="none" stroke="#969da0" stroke-miterlimit="10" d="M55.49,276.14s-.37-12.75,5.25-3.5.38,7.13,0,7.13" transform="translate(-3.14 -1.85)"/>
                                <path class="cls-1" fill="none" stroke="#969da0" stroke-miterlimit="10" d="M97.76,41.59s-2.5,4.83,2.83,2.33.67,2.67.67,2.67" transform="translate(-3.14 -1.85)"/>
                                <path class="cls-1" fill="none" stroke="#969da0" stroke-miterlimit="10" d="M448.14,22.85s-2.5,4.83,2.83,2.33.67,2.67.67,2.67" transform="translate(-3.14 -1.85)"/>
                                <path class="cls-1" fill="none" stroke="#969da0" stroke-miterlimit="10" d="M246,44.18s.1,5.85,4.41-.28,2.26,1.66,2.26,1.66" transform="translate(-3.14 -1.85)"/>
                            </g>
                            <g class="g-particles g-particles-group-3 appear-animation" data-appear-animation="expandParticles" data-appear-animation-delay="1100">
                                <circle class="cls-2" fill="#969da0" stroke="#969da0" cx="4.77" cy="151" r="1.14" transform="translate(-108.51 45.76) rotate(-45)"/>
                                <circle class="cls-2" fill="#969da0" stroke="#969da0" cx="149.72" cy="30.16" r="1.14" transform="translate(19.39 112.85) rotate(-45)"/>
                                <circle class="cls-2" fill="#969da0" stroke="#969da0" cx="304.7" cy="3.48" r="1.14" transform="translate(83.64 214.63) rotate(-45)"/>
                                <circle class="cls-2" fill="#969da0" stroke="#969da0" cx="495.22" cy="155.04" r="1.14" transform="translate(32.28 393.74) rotate(-45)"/>
                                <circle class="cls-2" fill="#969da0" stroke="#969da0" cx="315.2" cy="163.8" r="1.14" transform="translate(-26.64 269.01) rotate(-45)"/>
                                <circle class="cls-2" fill="#969da0" stroke="#969da0" cx="153.42" cy="344.7" r="1.14" transform="translate(-201.94 207.59) rotate(-45)"/>
                                <circle class="cls-2" fill="#969da0" stroke="#969da0" cx="249.61" cy="406" r="1.14" transform="translate(-217.11 293.57) rotate(-45)"/>
                                <circle class="cls-2" fill="#969da0" stroke="#969da0" cx="313.32" cy="336.94" r="1.14" transform="translate(-149.62 318.39) rotate(-45)"/>
                                <circle class="cls-2" fill="#969da0" stroke="#969da0" cx="148.58" cy="172.2" r="1.14" transform="translate(-81.38 153.65) rotate(-45)"/>
                            </g>
                            <g class="g-particles g-particles-group-4 appear-animation" data-appear-animation="expandParticles" data-appear-animation-delay="1400">
                                <polyline class="cls-3" fill="none" stroke="#969da0" points="200.87 18.34 197.2 18.34 199.03 21"/>
                                <polyline class="cls-3" fill="none" stroke="#969da0" points="179.66 368.64 180.47 364.7 176.12 365.86"/>
                                <polyline class="cls-3" fill="none" stroke="#969da0" points="369.87 368.64 370.67 364.7 366.31 365.86"/>
                                <polyline class="cls-3" fill="none" stroke="#969da0" points="369.31 5.73 371.83 1.9 367.27 1.65"/>
                                <polyline class="cls-3" fill="none" stroke="#969da0" points="217.7 153.19 210.32 153.19 214.01 158.56"/>
                                <polyline class="cls-3" fill="none" stroke="#969da0" points="385.03 153.19 377.66 153.19 381.34 158.56"/>
                                <polyline class="cls-3" fill="none" stroke="#969da0" points="385.03 324.15 377.66 324.15 381.34 329.52"/>
                                <polyline class="cls-3" fill="none" stroke="#969da0" points="213.01 324.15 205.64 324.15 209.32 329.52"/>
                                <polyline class="cls-3" fill="none" stroke="#969da0" points="52.35 324.15 44.98 324.15 48.66 329.52"/>
                            </g>
                            <g class="g-particles g-particles-group-5 appear-animation" data-appear-animation="expandParticles" data-appear-animation-delay="1700">
                                <path class="cls-4" fill="none" stroke="#969da0" d="M264.48,188.12s-4,8.83,3.33,6.17,5.67-.5,5.67-.5-1.33,3.67-2.17,3.5" transform="translate(-3.14 -1.85)"/>
                                <path class="cls-4" fill="none" stroke="#969da0" d="M444.52,179.07s-4,8.83,3.33,6.17,5.67-.5,5.67-.5-1.33,3.67-2.17,3.5" transform="translate(-3.14 -1.85)"/>
                                <path class="cls-4" fill="none" stroke="#969da0" d="M94.23,196.91s-4,8.83,3.33,6.17,5.67-.5,5.67-.5-1.33,3.67-2.17,3.5" transform="translate(-3.14 -1.85)"/>
                                <path class="cls-4" fill="none" stroke="#969da0" d="M92.81,369.86s-2.63,6.55,2.19,4.57,3.73-.37,3.73-.37-.88,2.72-1.43,2.6" transform="translate(-3.14 -1.85)"/>
                                <path class="cls-4" fill="none" stroke="#969da0" d="M269.94,368.71c.06-.09,3.2,5.44,4.68,2,2-4.8,2.54-2.76,2.54-2.76s1.15,2.61.66,2.89" transform="translate(-3.14 -1.85)"/>
                            </g>
                            <g class="g-particles g-particles-group-6 appear-animation" data-appear-animation="expandParticles" data-appear-animation-delay="2000">
                                <polyline class="cls-5" fill="#969da0" stroke="#969da0" points="8.58 76.55 13.71 78.42 12.58 72.8"/>
                                <polyline class="cls-5" fill="#969da0" stroke="#969da0" points="8.58 228.65 13.71 230.53 12.58 224.9"/>
                                <polyline class="cls-5" fill="#969da0" stroke="#969da0" points="178.55 238.99 183.68 240.86 182.55 235.24"/>
                                <polyline class="cls-5" fill="#969da0" stroke="#969da0" points="349.47 240.53 354.59 242.4 353.47 236.78"/>
                                <polyline class="cls-5" fill="#969da0" stroke="#969da0" points="338.72 402.28 343.84 404.15 342.72 398.53"/>
                                <polyline class="cls-5" fill="#969da0" stroke="#969da0" points="147.72 399.46 152.84 401.34 151.72 395.71"/>
                                <polyline class="cls-5" fill="#969da0" stroke="#969da0" points="482.39 209.27 485.95 213.4 487.71 207.94"/>
                                <polyline class="cls-5" fill="#969da0" stroke="#969da0" points="349.58 66.58 354.83 68.06 353.29 62.54"/>
                            </g>
                        </svg>
                        <div class="particles-counter bg-light" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 7, 'horizontal': true, 'transition': true}">
                            <div class="counters counters-sm">
                                <div class="row m-0">
                                    <div class="col-sm-6">
                                        <div class="counter text-dark my-4 pb-1">
                                            <strong data-to="25000" data-append="+">25000+</strong>
                                            <label class="font-weight-light">Happy Clients</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="counter text-dark my-4 pb-1">
                                            <strong data-to="15">15</strong>
                                            <label class="font-weight-light">Years in Business</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="counter text-dark my-4 pt-1">
                                            <strong data-to="352">352</strong>
                                            <label class="font-weight-light">Answered Tickets</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="counter text-dark my-4 pt-1">
                                            <strong data-to="178">178</strong>
                                            <label class="font-weight-light">Development Hours</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-dark-3">
        <div class="container">
            <div class="row justify-content-center pb-4">
                <div class="col-lg-10 text-center">
                    <div class="appear-animation" data-appear-animation="fadeInUpShorter">
                        <span class="top-sub-title text-color-primary text-4">Focada e criativa.</span>
                        <h3 class="font-weight-bold">A equipe da Mulher Gorila está preparada para qualquer desafio.</h3>
                    </div>
                    <p class="text-color-light-3 appear-animation text-3 text-justify" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                        Um dos mais fascinantes desafios do universo corporativo online é entender o comportamento do
                        consumidor e suas sensações. Estamos sem dúvida, vivendo um excelente momento para divulgação,
                        expansão e conhecimento de uma marca, empresa ou organização e é necessário ser além de tudo
                        inovador, saber manter-se à frente num meio cada vez mais dinâmico, inspirar tendências e ter
                        uma percepção inovadora.
                    </p>
                    <p class="text-color-light-3 appear-animation text-3 text-justify" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
                        Nossa equipe gerencia e desenvolve projetos digitais para clientes de diversos segmentos.
                        Presente em todas as etapas do projeto passando pela concepção, produção, gestão de marketing e
                        o monitoramento da experiência do usuário.
                    </p>
                    <p class="text-color-light-3 appear-animation text-3 text-justify" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                        Somos uma agência completa e atuamos na área de Marketing Digital, Soluções para Internet, Web
                        Agência Digital e são várias formas de nomear como estamos estamos configurados no mercado, mas
                        o mais relevante mensurar é que estamos trazendo para os nossos clientes e parceiros formas de
                        alcançar um objetivo e gerar resultados.
                    </p>
                    <p class="text-color-light-3 appear-animation text-3 text-justify" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">
                        Somos responsáveis pela criação, desenvolvimento e manutenção de sites e sistemas, assim como
                        Gerenciamento Remoto de Conteúdo , E-commerce e Planejamento Digital.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row justify-content-center pb-4">
                <div class="col-lg-10 text-center">
                    <p class="text-color-light-3 appear-animation text-3 text-justify" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="100">
                        Podemos dizer que os desafios estão presentes em qualquer etapa, desde o início, quando o
                        planejamento de mídia é escolhido, passando pelo planejamento de ações, até chegar ao momento de
                        colocá-las em prática e para em seguida analisar os resultados. E o investimento em tecnologia
                        tornará este processo mais tranquilo e organizado. É necessário que as ferramentas da sua
                        empresa sempre estejam atualizadas, com sistemas modernos, lay-outs que condizem com o
                        entendimento da atualidade e possuam fácil navegabilidade.
                    </p>
                    <p class="text-color-light-3 appear-animation text-3 text-justify" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
                        Com o excesso da informação, que retrata a quantidade de conteúdo e opções disponíveis na
                        internet as ações web precisam ser eficazes e dar a interação e a relevância necessária para o
                        internauta de acordo com o foco da sua empresa. Para isto, trabalhar com atualização e
                        manutenção constante dos sites, portais, lojas virtuais, landing pages, sorteios, concursos
                        culturais e hot sites e tantas outras possibilidades envolvendo toda a parte de planejamento
                        digital , campanhas de mídia, links patrocinados, Google Adwords mídias on / off e campanhas nas
                        redes sociais.
                    </p>
                    <p class="text-color-light-3 appear-animation text-3 text-justify" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">
                        Nossa experiência e impressão de um produto/marca são formadas por uma combinação de fatores,
                        com a interação desempenhando um papel fundamental. Não podemos mais pensar em interfaces
                        estáticas e atrasadas é necessário adicionar mágica na interação. Precisamos abraçar a natureza
                        interativa da web desde o início e pensar na interação como componente natural.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}