{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="section section-content-pull-top-2 bg-dark-3">
        <div class="container appear-animation" data-appear-animation="fadeInUpShorter">
            <div class="row">
                <div class="col">
                    <div class="row text-center">
                        <div class="col">
                            <span class="top-sub-title text-color-primary">A Mulher Gorila</span>
                            <h2 class="text-color-light font-weight-bold">Quem Somos</h2>
                            <p class="lead mb-5 pb-xlg">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Phasellus blandit<br> massa enim. Nullam id varius nunc id varius nunc.</p>
                        </div>
                    </div>
                    <div class="row align-items-baseline">
                        <div class="col-md-6 col-lg-4 appear-animation" data-appear-animation="fadeInUpShorter" data-plugin-options="{'accY' : -50}">
                            <h3 class="font-weight-bold d-flex align-items-center text-color-light text-2 pl-1 mb-3">
                                <i class="lnr lnr-tablet text-color-primary mr-3"></i>
                                RESPONSIVE DESIGN
                            </h3>
                            <p class="mb-md-5 pb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Phasellus blandit massa enim. Nullam id varius nunc.</p>
                        </div>
                        <div class="col-md-6 col-lg-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300" data-plugin-options="{'accY' : -50}">
                            <h3 class="font-weight-bold d-flex align-items-center text-color-light text-2 pl-1 mb-3">
                                <i class="lnr lnr-layers text-color-primary mr-3"></i>
                                PARALLAX EFFECTS
                            </h3>
                            <p class="mb-md-5 pb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Phasellus blandit massa enim. Nullam id varius nunc.</p>
                        </div>
                        <div class="col-md-6 col-lg-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" data-plugin-options="{'accY' : -50}">
                            <h3 class="font-weight-bold d-flex align-items-center text-color-light text-2 pl-1 mb-3">
                                <i class="lnr lnr-magnifier text-color-primary mr-3"></i>
                                SEO OPTIMIZED
                            </h3>
                            <p class="mb-md-5 pb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Phasellus blandit massa enim. Nullam id varius nunc.</p>
                        </div>
                        <div class="col-md-6 col-lg-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900" data-plugin-options="{'accY' : -50}">
                            <h3 class="font-weight-bold d-flex align-items-center text-color-light text-2 pl-1 mb-3">
                                <i class="lnr lnr-magic-wand text-color-primary mr-3"></i>
                                FULLY CUSTOMIZABLE
                            </h3>
                            <p class="mb-md-5 pb-3">Phasellus blandit massa enim. Nullam id varius nunc. Lorem ipsum
                                dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id
                                varius nunc.</p>
                        </div>
                        <div class="col-md-6 col-lg-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1200" data-plugin-options="{'accY' : -50}">
                            <h3 class="font-weight-bold d-flex align-items-center text-color-light text-2 pl-1 mb-3">
                                <i class="lnr lnr-briefcase text-color-primary position-relative mr-3"></i>
                                PORTFOLIO LAYOUTS
                            </h3>
                            <p class="mb-md-5 pb-3">Phasellus blandit massa enim. Nullam id varius nunc. Lorem ipsum
                                dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id
                                varius nunc.</p>
                        </div>
                        <div class="col-md-6 col-lg-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1500" data-plugin-options="{'accY' : -50}">
                            <h3 class="font-weight-bold d-flex align-items-center text-color-light text-2 pl-1 mb-3">
                                <i class="lnr lnr-code text-color-primary mr-3"></i>
                                OPTIMIZED CODE
                            </h3>
                            <p class="mb-md-5 pb-3">Phasellus blandit massa enim. Nullam id varius nunc. Lorem ipsum
                                dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id
                                varius nunc.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}